name: Terraform Infrastructure

on:
  workflow_dispatch:
    inputs:
      raw_bucket:
        description: "Raw S3 bucket name"
        required: true
      clean_bucket:
        description: "Cleaned S3 bucket name"
        required: true

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply (User Inputs)
        run: |
          terraform apply -auto-approve \
          -var="raw_bucket_name=${{ github.event.inputs.raw_bucket }}" \
          -var="clean_bucket_name=${{ github.event.inputs.clean_bucket }}"
        working-directory: terraform
